[Unit]
Description=Daemon Layanan Otomatis Linux
After=network.target

[Service]
ExecStart=/bin/bash /service/start-daemon.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
